<container id="masthead">
<div id=burgerimage>
<center><img src="https://img.clipartfest.com/2913076584b0a2cc782d33669783dc04_hamburger-sandwich-ten-mission-clipart-transparent-background_2400-2132.png" width="50%" height="50%"></center>
</div>
<div id="appTitle">
<h2 color="red"><center>Eat-Da-Burger</center></h2>
</div>
</container>



<container id="mainArea">
<form class="create-add-form" action="/" method="POST">
	<div class="form-group">
		<input type="textarea" id="burgerType" name="name">
	</div>

	<button type="submit">Submit</button>
</form>